<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body style="background-image: url(static/img/grogo.jpeg);">
    <div class="container">
        <div class="login-box">
            <h1>GroceryGo</h1>
            <h3>Enter Your Login Credential?</h3>
            <form>
            {% csrf_token %}
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Login</button>
                <p>Don't have an account? <a href="#">Sign up</a></p>
            </form>
        </div>
    </div>
    <div>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            {{ message }}
          </div>
        {% endfor %}
        {% endif %}
    </div>
</body>
</html>