<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Placed</title>
    <link rel="stylesheet" href="{% static 'css/bookings.css' %}">
    
</head>
<body>
    <div class="container">
        {%  for i in bookings %}
        <h1>Order Placed</h1>
        <div class="order-details">
            <h2>Product Details</h2>
            <div class="product">
                <img src="{{i.details.product.img.url}}" alt="Product Image" class="product-image">
                <div class="product-info">
                    <h3 class="product-name">{{i.details.product.name}}</h3>
                    <p class="product-qty">Quantity:<span>{{i.quantity}}</span></p>
                    <p class="product-price">Price: <span>{{i.tot_price}}</span> </p>
                </div>
            </div>
        </div>
        <div class="customer-info">
            <h2>Customer Information</h2>
        {% for j in data %}
            <p><strong>Name:</strong>{{j.name}}</p>
            <p><strong>Phone:</strong>{{j.phone}}</p>
            <p><strong>Address:</strong>{{j.address}}</p>
            <p><strong>City:</strong>{{j.street}} </p>
            <p><strong>City:</strong>{{j.city}} </p>
            <p><strong>State:</strong>{{j.state}}</p>
            <p><strong>PIN:</strong> {{j.pincode}}</p>
        {% endfor %}
        </div>
    {% endfor %}
    </div>
</body>
</html>