<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/category.css' %}">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1>Add Categories</h1>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="productPrice"></label>
                <input type="text" id="" name="p_categories" required><br><br>
                <button type="submit">Add</button>
            </div>
        </form>
    </div>
    <div>
        {% for i in data %}
            {{i.category}}

        {%  endfor %}
    </div>
</body>

</html>