<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/details.css' %}">
    <title>Document</title>
</head>

<body style="background-image: url(static/img/grogo.jpeg);">
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="product Id">Product Id:</label>
                <select id="" name="p_id">
                {% for i in data %}
                    <option value="{{i.pid}}">{{i.pid}}</option>
                {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="Product Weight">Product Weight:</label>
                <input type="text" id="" name="p_weight" required>
            </div>
            <div class="form-group">
                <label for="productPrice">Product Price:</label>
                <input type="number" id="" name="p_price" required>
            </div>
            <div class="form-group">
                <label for="productPrice">Product Offer Price:</label>
                <input type="number" id="" name="of_price" required>
            </div>
            <div class="form-group">
                <label for="productStock">Product Stock:</label>
                <input type="number" id="" name="p_stock" required><br><br><br>
                <button type="submit">Submit</button>
            
        </form>
    </div>
</body>

</html>