<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/order.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>

<body style="background-image: url(../../static/img/grogo.jpeg); backdrop-filter: blur(10px);">

    <nav class="navbar navbar-expand-sm bg-white navbar-white fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand"><img src="{% static 'img/logo-png.png' %}" alt="" width="300px" height="50px"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end " id="collapsibleNavbar">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link  active text-dark" href="../../user_home">Home</a>
              </li>
              <li>
                <div class="dropdown">
                    <button type="button" class="btn btn-white text-dark btt-1 dropdown-toggle" data-bs-toggle="dropdown">
                        Categories
                    </button>
                    <ul class="dropdown-menu">
                        {% for i in cat %}
                        <li><a class="dropdown-item text-dark " href="../../view_cat/{{i.pk }}">{{i.category}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li> 
              <li class="nav-item ">
                <a class="nav-link text-dark " href="../../cart">Cart</a>
              </li>
              <li class="nav-item  ">
                <a class="nav-link text-dark" href="../../user_book">Order Bookings</a>
              </li>
              <li class="nav-item  ">
                <a class="nav-link text-dark" href="../../Address">Add Address</a>
              </li>
              <li class="nav-item  ">
                <a class="nav-link text-dark" href="logout">Logout</a>
              </li>      
            </ul>
          </div>
        </div>
      </nav> 


    <!-- <nav class="navbar fixed-top  ">
        <div class="logo"><img src="{% static 'img/logo-png.png' %}" alt="" width="300px" height="50px"></div>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="nav-list">
            <li><a href="../../user_home">Home</a></li>
            <li>
                <div class="dropdown">
                    <button type="button" class="btn btn-white text-dark     btt-1 dropdown-toggle" data-bs-toggle="dropdown">
                        Categories
                    </button>
                    <ul class="dropdown-menu">
                        {% for i in cat %}
                        <li><a class="dropdown-item " href="../../view_cat/{{i.pk }}">{{i.category}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li> -->
            <!-- <li><a href="../address">Add Address</a></li> -->
            <!-- <li><a href="../../cart">Cart</a></li>
            <li><a href="../../user_book">Order Placed</a></li>
            <li><a href="../../logout">Logout</a></li>


        </ul>
    </nav> -->
    <!-- <div class="order-summary">
        <h2>Order Summary</h2>

        <div>
            <label for="product">Shipping Address</label>
            <a href="../address"><button class="btn btn-outline-dark">Add Address</button></a>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <select id="address" name="address" required>
                    {% for j in data %}
                    <option value="{{j}}">
                        {{j.name}},{{j.address}},{{j.street}},{{j.city}},{{j.state}},{{j.pincode}},{{j.phone}}</option>
                    {% endfor %}
                </select>
                <a href="../../../address">Add new address + </a>
        </div>
        <div class="product">
            <img src="{{prod.product.img.url}}" alt="Product Name" class="product-img">
            <div class="product-details">
                <h3 class="product-name">{{prod.product.name}}</h3>
                <p class="product-description">{{prod.product.descri}}</p>
                <p class="product-category">Category: {{prod.product.category.category}}</p>
                <p class="product-category">{{prod.weight}}ml</p>
                <p class="product-price">Price: <span class="original-price">₹{{prod.price}}</span></p>
                <p class="offer-price">Offer Price: <span>₹{{prod.off_price}}</span></p>
                <button type="submit" class="payment-button">Proceed </button>
            </div>
            </form>
        </div>

    </div> -->
    <div class="order-summary">
        <div class="row">
            <div class="col-lg-12">
                <img src="{{prod.product.img.url}}" alt=""class="product-img">
            </div>
            <div class="col-lg-8">
              <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for=""> Customer Address : </label><br>
                <select name="address" id="address" class="select-box">
                  {% for i in data %}
                    <option value="{{i.pk}}">{{i.name}},{{i.phone}},{{i.address}},{{i.street}},{{i.pin}},{{i.state}}</option>
                  {% endfor %}
                </select>
                <a href="../../../address" >Add new address + </a><br><br>
                <div class="payment-method">
                  <h3>Payment Method:</h3>
                  <label class="custom-checkbox">
                      <input type="radio" name="pay" id="paynow" value="paynow" required checked>
                      <span class="checkmark"></span>
                      Pay Now
                  </label>
                  <label class="custom-checkbox">
                      <input type="radio" name="pay" id="cod" value="cod" required>
                      <span class="checkmark"></span>
                      Cash On Delivery
                  </label>
              </div>
              </div>
                <h3 class="product-name">{{prod.product.name}}</h3>
                <p class="product-description">{{prod.product.descri}}</p>
                <p class="product-category">Category: {{prod.product.category.category}}</p>
                <p class="product-price">
                  Price: <span class="original-price">₹{{prod.price}}</span>
              </p>
              <p class="offer-price">
                  <span>₹{{prod.off_price}}</span>
              </p>
                <button type="submit" class="btn btn-success">proceed</button>
              </form>             
            </div>
        </div>
    </div>

    <footer class="footer">
      <div class="footer-container">
        <div class="footer-logo">
          <img src="{% static 'img/logo-png.png' %}" alt="">
        </div>
        <div class="footer-links">
            <h4>Navigation</h4>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Our Work</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <h4>Follow Us</h4>
            <ul>
                <li><i class="fa-brands fa-instagram" style="color: rgb(107, 7, 7); font-size: 20px; "></i></li>
                <li><i class="fa-brands fa-facebook" style="color: blue; font-size: 20px;"></i></li>
                <li><i class="fa-brands fa-x-twitter" style="font-size: 20px;"></i></li>
                <li><i class="fa-brands fa-telegram" style="color: rgb(19, 148, 223); font-size: 20px;"></i></li>
            </ul>
        </div>
    </div>
    <p>© 2025 My Website. All rights reserved.</p>
        
  </footer>
</body>

</html>