<!DOCTYPE html>
<html lang="en">

<head>
    {%  load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/viewpro.css' %}">
    <title>Product Display</title>
</head>

<body style="background-image: url(../static/img/grogo.jpeg);">
    <div class="product-container">
            <div class="product-image">
                <img src="{{data.img.url}}" alt="Product Image">
            </div>
            <div class="product-details">
                <h2 class="product-name">{{data.name}}</h2>
                <p class="product-description">{{data.descri}}</p>
                <p class="product-category">{{data.category.category}}</p>
            {%  for i in data1 %}
                <p class="product-category">{{i.weight}}ml</p>
                <p class="product-price">Price: <span class="original-price">₹{{i.price}}</span></p>
                <p class="offer-price">Offer Price: <span>₹{{i.off_price}}</span></p>
                <div class="button-container">
                    <a href="../add_to_cart/{{i.pk}}"><button class="add-to-cart">Add to Cart</button></a>
                    <a href="../order/{{i.pk}}"><button class="buy-now">Buy Now</button></a>
                </div>
            {% endfor %}     
    </div>
</body>

</html>