<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/viewpro.css' %}">
    <title>Product Display</title>
</head>

<body>
    <div class="product-container">
        {% for i in data1 %}
            <div class="product-image">
                <img src="{{i.img.url}}" alt="Product Image">
            </div>
            <div class="product-details">
                <h2 class="product-name">{{i.name}}</h2>
                <p class="product-description">{{i.descri}}</p>
                <p class="product-category">{{i.category.category}}</p>
                <p class="product-price">Price: <span class="original-price">$100</span></p>
                <p class="offer-price">Offer Price: <span>$80</span></p>
                <div class="button-container">
                    <button class="add-to-cart">Add to Cart</button>
                    <button class="buy-now">Buy Now</button>
                </div>
        {% endfor %}
    </div>
    </div>
</body>

</html>